@import url(./fonts.css);


:root {
    --font-primary: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1376px;
    width: 100%;
    margin: auto;
    padding: 0 12px;
}

/* header start */


/* header end */


/* membership start */

/* membership end */


/* guide start */

/* guide end */


/* info start */
.info {
    padding-top: 113px;
}

.info__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #692340;
    max-width: 465px;
    width: 100%;
    margin: auto;
    margin-bottom: 37px;
}

.info__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #692340;
    margin-bottom: 101px;
    max-width: 661px;
    width: 100%;
    margin: auto;
}

.info__cards {
    display: flex;
    flex-direction: column;
    row-gap: 134px;
}

.info__passage {
    display: flex;
    column-gap: 186px;
    margin: 0 auto;
    margin-top: 101px;
}

.info__passage-texts {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
}

.info__passage-texts__monkey {
    height: 48px;
    width: 140px;
}

.info__passage-texts__list {
    margin-left: 15px;
}

.info__passage-texts__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    color: #692340;
}

.info__passage-texts__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #692340;
    max-width: 429px;
    width: 100%;
}

.info__passage-texts__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #692340;
}

.info__passage-texts__btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #692340;
}



/* info end */


/* slider start */




/* slider end */


/* already start */




/* already end */




/* community start */




/* community end */


/* place start */




/* place end */


/* footer start */
.footer {
    background: #EFEEEA;
}

.footer__line {
    background: #8C8C8C;
    border-radius: 0px;
    height: 1px;
    margin: 0 0 64px;
}

.footer1 {
    display: flex;
    column-gap: 60px;
    padding: 118px 199px 74px 186px;
}

.footer__lists-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #241C15;
    margin-bottom: 29px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}

.list-item__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #241C15;
}

.footer__services {
    display: flex;
    flex-direction: column;
    row-gap: 69px;
}

.footer__services-info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    display: block;
}

.footer__services-info__img {
    height: 19.622251510620117px;
    width: 18.85803985595703px;
}

.footer__services-info__img1 {
    height: 28.0116024017334px;
    width: 97.95594024658203px;

}

.footer__services-info__img1::after {
    content: "presents";
    font-family: 'Roboto';

}

.pic {
    width: 103px;
    height: 20px;
}

.pic2 {
    width: 29px;
    height: 19px;
}

.footer__services-info__text {
    max-width: 173px;
    width: 100%;
    margin: 12px 0;
}

.footer2 {
    display: flex;
    column-gap: 70px;
    padding: 0 266px;
}
.footer__last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.footer__last-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #241C15;
    max-width: 289px;
    width: 100%;
    margin-top: 17px;
}

.ios__play-market {
    display: flex;
    column-gap: 27px;
}

.footer__social-m__icons {
    display: flex;
    column-gap: 24px;
}

.footer__last-h5 {
    border: 1px solid #241C15;
    border-radius: 0px;
    padding: 9px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__last-t {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #403B3B;
}

.footer__last-span {
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.last-span__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #241C15;
}

/* footer end */