@import url(./fonts.css);


:root {
    --font-primary: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1376px;
    width: 100%;
    margin: auto;
    padding: 0 12px;
}

/* header start */


/* header end */


/* membership start */

/* membership end */


/* guide start */

/* guide end */


/* info start */

/* info end */


/* slider start */
.slider__container-span {
    width: 781px;
    display: block;
    font-weight: 400;
    font-size: 52px;
    color: #692340;
    margin: auto;
    padding: 72px 0 67px 0;
    display: flex;
}


.frame {
    display: flex;
    margin: auto;
    column-gap: 118px;
}

.slider__container-image {
    width: 456px;
    height: 570px;
    margin-top: 49px;
}

.slider__container-text {
    width: 359px;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    color: #692340;
    display: flex;
    flex-direction: column;
    row-gap: 73px;
}

.slider__container__text-span {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.frame::before {
    content: url(../img/slider/Vector\(17\).png);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frame::after {
    content: url(../img/slider/Vector\(16\).png);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle {
    display: flex;
    margin: 30px auto;
    column-gap: 20px;
    justify-content: center;
}

.circles1 {
    width: 12px;
    height: 12px;
    background: #692340;
    border-radius: 6px;
}

.circles {
    width: 12px;
    height: 12px;
    background: #EEE8E3;
    border-radius: 6px;
}

/* slider end */


/* already start */




/* already end */




/* community start */
.community__container-span {
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    color: #692340;
    margin: auto;
    display: flex;
    display: block;
    width: 400px;
    /* height: 50px; */
    padding: 118px 0 119px 0;
}

.community__container-cards {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
}

.community__container__card-image {
    object-fit: cover;
}

.community__container__card-span {
    color: #692340;
    font-weight: 700;
    font-size: 24px;
    line-height: 55px;
}

.community__container__card-title {
    font-weight: 700;
    font-size: 27px;
    line-height: 30px;
    color: #692340;
    width: 354px;
}

.community__container__card-text {
    width: 385px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #692340;
    padding-top: 15px;
    padding-bottom: 54px;
}

.community__container-buttons {
    display: flex;
    padding-bottom: 140px;
    column-gap: 332px;
    text-align: center;
    justify-content: center;
}

.community__container__button-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    width: 217px;
    color: #692340;
}

.community__container__button-btn {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    /* width: 141px; */
    color: #692340;
    background: #FFFFFF;
    margin: 30px ;
    padding: 20px 40px;
    border: 1px solid #692340;
}



/* community end */


/* place start */




/* place end */


/* footer start */




/* footer end */